<div class="navbar-header">
  <div class="profile">
    <div class="profile-body">
      <h6><%= current_user.first_name %> <%= current_user.last_name %></h6>
      <div class="user-links">
      </div>
    </div>
  </div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
